extends layout

block content
  h1= title

  if (user)
    p Welcome, #{user}
    form(action='/tweet', method='post')
      input(name='content' placeholder='What is up today?')
      input(value='submit', type='submit')
  else
    p
      a(href="/register") Register
    p
      a(href="/login") Login

  ul
    each val in tweets
      li #{val.content} - #{val.create_at}

  if (user)
    footer
      a(href='/logout') logout